body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.calendar {
  width: 90%;
  max-width: 600px;
  position: relative;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header button {
  cursor: pointer;
  padding: 5px 10px;
}

#month-year {
  font-weight: bold;
  font-size: 1.2em;
}

.week-days {
  display: flex;
}

.week-days div {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}

.grid-month {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.week {
  display: flex;
  gap: 5px;
}

.day {
  flex: 1;
  height: 80px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  background-color: #f4f4f4;
}
.day-number.today {
  background-color: rgb(63, 12, 12);
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: white;
  text-align: center;
  align-items: center;
}

.day.prev-month,
.day.next-month {
  color: #aaa;
}

.popup-training {
  display: none;
  justify-content: center;
  width: 50%;
  height: 350px;
  background-color: rgb(40, 57, 66);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
}
.popup-date {
  color: white;
  display: flex;
  padding-top: 10%;
}
