body {
    padding: 0;
    margin: 0;
}

.grid-month {
    display: grid;
    width: 100vw;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
}

.week{
    display: flex;
}

.day {
    width: 100%;
    height: 100px;
    border-top: solid 1px black;
    border-right: solid 1px black;
    text-align: center;
}

.monday {
    background-color: #E4D7C4;
}
.tuesday {
    background-color: #E4D7C4;
}
.wednesday {
    background-color: #E4D7C4;
}
.thursday {
    background-color: #E4D7C4;
}
.friday {
    background-color: #E4D7C4;
}
.saturday {
    background-color: #E4D7C4;
}
.sunday {
    background-color: #E4D7C4;
}